<html>
<head>
</head>
<body>
	<div>
		<h1> Welcome {{g.user.username}} </h2>
		
		<br>
		<button class="buttons"><a class = "anchor" href="{{ url_for('login')}}">Logout</a></button>
		
		<form action="" method = "POST">
			<input type = "text" placeholder = "num1" name = "num1">
			<br>
			<br>
			<input type = "text" placeholder = "num2" name = "num2">
			<br>
			<br>
			<label for="Operation">Operation</label>
			<select class="u-full-width" name="operation">
			  <option value="add">Add</option>
			  <option value="subtract">Subtract</option>
			  <option value="multiply">Multiply</option>
			  <option value="divide">Divide</option>
			</select>
			<br>
			<br>
			<input type = "submit" value = "Calculate">
		</form>
		
		<br>
		<div class="result">
          {{ result }}
        </div>
		
		<br>
		<div class="notify">
		{% for key, val in operations_dict.items() %}
			{% if val == 0 %}
				<p></p>
			{% else %}
				<p> {{val[0]}} posted {{val[1]}} {{val[4]}} {{val[2]}} = {{val[5]}}</p>
			{% endif %}
		{% endfor %}
		</div>
		
	</div>
</body>