<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" href="{{url_for('static', filename='main/styles.css')}}">
</head>
<body>
<div class = "main">
	<center>
	<h1> Welcome {{g.user.username}}!! </h1>
	</center>
	<br>
	<center>
	<div class = "container">
		<button class="buttons"><a class = "anchor" href="{{ url_for('login')}}">Logout</a></button>
		<p></p>
		<form action="" method = "POST">
			<input type = "text" placeholder = "num1" name = "num1" required>
			<br>
			<input type = "text" placeholder = "num2" name = "num2" required>
			<br>
			<select class="u-full-width" name="operation">
			  <option value="free" selected>Operations</option> 
			  <option value="add">Add</option>
			  <option value="subtract">Subtract</option>
			  <option value="multiply">Multiply</option>
			  <option value="divide">Divide</option>
			</select>
			<br>
			<input type = "submit" value = "Calculate">
		</form>
	</div>
	
	<br>
	<div class="result">
		Answer = {{ result }}
    </div>
	
	<br>
	<div class="notify">
		<p><b>Last 10 calculations</b></p>
		{% for key, val in operations_dict.items() %}
			{% if val == 0 %}
				<p></p>
			{% else %}
				<p> {{val[0]}} posted {{val[1]}} {{val[4]}} {{val[2]}} = {{val[5]}}</p>
			{% endif %}
		{% endfor %}
	</div>
	</center>
</div>
</body>